@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


html {
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background-color: #EAE2B7;
    height: 100%;
    min-height: 100%;
}

*{  
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #FCBF49; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #FCBF49; 
}



/* Header */

.header{
    width:100%;
    height: 500px;
    background-image: url('./image/hero-banner-large.png');
    background-size: cover;
    background-position:center;

}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color:#FCBF49;
    color:#000000;

}

.menu-bar ul{
    margin:0;
    padding:0;
    display:flex;
}

.menu-bar li{
    list-style:none;
    margin; 0 1rem;
}

.menu-bar li a{
    padding: 1rem;
    text-decoration: none;
    color:#000000;
}


.title{
    text-align: center;
    font-size: 2.5rem;
    padding-top: 7rem;
    font-weight: 600;
    color: #FFFFFF;
}


/* search bar recipe*/

.meal-search-box{
    margin: 1.2rem 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.search-control,
.search-btn{
    width: 30%;
}

.search-control{
    padding: 0 1rem;
    font-size: 1.1rem;
    outline: 0;
    text-align: left;
    border: 1px solid #000000;
    color: #000000;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}


.search-btn{
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: #F77F00;
    color: #fff;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: none;
    cursor: pointer;
    transition: all 0.4s linear;
}


/* favorite rescipe*/
.fav-container {
    background-color: #f7d7da;
    padding: 0.25rem 1rem;
    text-align: center;
}

.fav-meals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

/* dropdown Select-Country */

.country-dropdown {
    text-align: left;
    margin: 1rem 1.2rem;
}

.country-dropdown label {
    font-size: 1.2rem;
    color: #1E1D1D;
    font-weight: bold;
    display: block
}

.country-dropdown select {
    width: 18%;
    padding: 0.5rem;
    border: 1px solid #000000;
    border-radius: 0.5rem;
    outline: none;
    font-size: 1rem;
    background-color: #FFF;
    cursor: pointer;
    transition: all 300ms ease-in-out;    	
}



/* search result */

.result{
    text-align: center;
}

.result h1{
    font-size: 1.8rem;
    color: #1E1D1D;
}


/*Food list */

.card-grid, .food-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 5px;
    padding: 16px 0px 100px;
    justify-content: center;
    overflow: auto;
    min-height: 100%;
    text-align: center;
}

.card {
    --padding: 1rem;
    background: var(--color4);
    border: 1px solid #777;
    border-radius: 1rem;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.card.card-shadow {
    border: none;
    box-shadow: 0 7px 25px -9px rgba(0, 0, 0, .79);
    max-width: 700px;
    max-height: 350px;
}

.card-header {
    font-size: 1.5rem;
    padding: var(--padding);
    padding-bottom: 0;
    margin-bottom: .5rem;
}
  
.card-header.card-image {
    padding: 0;
    overflow: hidden;
}
    
.card-header.card-image > img {
    display: block;
    width: 100%;
    max-height: 200px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
    transition: 200ms transform ease-in-out;
}


.card:hover > .card-header.card-image > img {
    transform: scale(1.025);
}
  
.card-body {
    font-size: .9rem;
    text-align: center;
    padding: 0 var(--padding);
}

.card-body h3{
    color: ;
}
  
.card-footer {
    margin-top: 1rem;
    padding: var(--padding);
    padding-top: 0;
    text-align: center;
    color: #000000;
    display: flex;
    justify-content: space-between;
}
  
.button {
    background: #F77F00;
    color: #000000;
    border: 2px solid #F77F00 ;
    font-size: 1rem;
    padding: .5em .75em;
    border-radius: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.button:hover, .button:focus {
    transform: translateY(-3px);
    background-color: transparent;
    border: 2px solid #F77F00;
    color:  #000000;
}

.fa-heart {
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 15px;
    font-size: 35px;
    transition: color 0.3s;
}


/* Meal Details */
.meal-details{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background: #FCBF49;
    border-radius: 3rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    display: none;
    padding: 2em 0;
}

.meal-details::-webkit-scrollbar{
    width: 10px;
}

.meal-details::-webkit-scrollbar-thumb{
    border: 2em;
}

.showRecipe{
    display: block;
}

#meal-details-content {
    margin: 2em;
    background-color: #FCBF49;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
    border-radius: 10px;
}

.meal-details-content p:not(.recipe-category){
    padding: 3rem 0;
}





.recipe-close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 35px;
    height: 35px;
    border: none;
    font-size: 1.8rem;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    
    
    
}

.recipe-title{
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.recipe-category{
    background: #fff;
    font-weight: 600;
    color:  #000000;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border-radius: 0.3rem;
}

.recipe-instruct{
    padding: 1rem 0;
}
.recipe-meal-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.recipe-link{
    margin: 1.4rem 0;
}

.recipe-link a{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.4s linear;
    text-decoration: none;
    background: #F77F00;
    padding: 0.25rem 0.5rem;
    border-radius: 2rem;
}

.recipe-link a:hover{
    opacity:50%
}

.notFound{
    grid-template-columns: 1fr!important;
    color: #d65108;
    font-weight: 600;
    font-size: 1.5rem;
    width: 100%;
}

@media screen and (min-width: 768px){
   
    .meal-details{
        width: 700px;
    }
}


/* Footer */

footer {
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    background-color: #FCBF49;
    
}

.social-btn{
    position: sticky;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 2rem;
    
}
.social-btn a{

    color:  #F77F00;
}



.copy{
    text-align: center;
    color:  #000000;
}






  





  











